/* Base styles (mobile by default) */
.accolades {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: fit-content;
    background-color: var(--background-dark);
    margin: auto;
    padding: 15px 0px;
}

.accolades .badge {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: fit-content;
    max-width: 180px;
    height: fit-content;
    padding: 0.5em;
    background-color: var(--background-dark);
    color: var(--text-light);
}

.badge svg {
    width: 40%;
    height: 50%;
    margin: 0 auto;
}

/* Tablet breakpoint */
@media (min-width: 768px) {
    .badge svg {
        width: 30%;
    }
}

/* Desktop breakpoint */
@media (min-width: 992px) {
    .badge svg {
        width: 25%;
    }
}
