/* Base styles (mobile by default) */
.default {
    display: flex;
    justify-content: space-between;
    background-color: var(--accent-color);
    width: fit-content;
    margin: auto;
    padding: 1em 2em;
    border-radius: 25px;
}

.default a {
    color: var(--text-dark);
    text-decoration: none;
}

.default svg {
    margin-left: 8px;
}

/* Tablet breakpoint */
@media (min-width: 768px) {

}

/* Desktop breakpoint */
@media (min-width: 992px) {

}