@import '@react-pdf-viewer/core/lib/styles/index.css';
@import '@react-pdf-viewer/default-layout/lib/styles/index.css';

:root {
  --primary-color: #187795; /* Cerulean */
  --secondary-color: #ced3dc; /* French Gray */
  --test-color: #ced3dc; /* French Gray */
  --accent-color: #f6511d; /* Tangelo */
  --text-dark: #121420; /* Rich Black */
  --text-light: #ffffff; /* White */
  --background-white: #ffffff; /* White */
  --background-light: #ced3dc; /* French Gray */
  --background-dark: #2c2b3c; /* Raisin Black */

  --text-margin-small: 10px;
  --text-margin-medium: 20px;
  --text-margin-large: 30px;

  --text-heading-font: 'Montserrat', sans-serif;
  --text-paragraph-font: 'Open Sans', sans-serif;
}

body {
    font-family: var(--text-paragraph-font);
    font-weight: 400;
    background-color: var(--background-light);
    margin: 0;
    overflow-x: hidden; /* prevent horizontal scrollbars */
}

h1, h2, h3 {
  font-family: var(--text-heading-font);
  font-weight: 100;
  margin: var(--text-margin-small);
}

p {
  margin: var(--text-margin-small);
}

/* Tablet breakpoint */
@media (min-width: 768px) {
  p, h1, h2, h3 {
    margin: var(--text-margin-medium);
  }
}

/* Desktop breakpoint */
@media (min-width: 992px) {
  p, h1, h2, h3 {
    margin: var(--text-margin-large);
  }
}