@import '@react-pdf-viewer/core/lib/styles/index.css';
@import '@react-pdf-viewer/default-layout/lib/styles/index.css';

:root {
  --primary-color: #187795; /* Cerulean */
  --secondary-color: #ced3dc; /* French Gray */
  --accent-color: #f6511d; /* Tangelo */
  --text-dark: #121420; /* Rich Black */
  --text-light: #ffffff; /* White */
  --background-white: #ffffff; /* White */
  --background-light: #ced3dc; /* French Gray */
  --background-dark: #2c2b3c; /* Raisin Black */
}

body {
    background-color: var(--background-light);
    margin: 0;
    overflow-x: hidden; /* prevent horizontal scrollbars */
}