/* Base styles (mobile by default) */
.imageTransition {
  width: 100%;
  height: 200px;
}

/* Tablet breakpoint */
@media (min-width: 768px) {

}

/* Desktop breakpoint */
@media (min-width: 992px) {

}