.navbar {
    display: flex;
    justify-content: flex-end;
    max-width: 1200px;
    margin: 0 auto;
}

.buttons {
    display: flex;
    list-style: none;
    width: 200px;
    justify-content: space-between;
    padding: 0;
}

.buttons li {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.buttons li a {
    color: var(--text-dark);
    text-decoration: none;
}