/* Base styles (mobile by default) */
.pageContainer {
    position: relative;
    display: grid;
    grid-template: 200px 1fr / 1fr;
    width: 90%;
    overflow-x: hidden;
    height: 100%;
    margin: auto;
    background-color: var(--background-white);
}

.textContainer {
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    padding: 30px 0;
    color: var(--text-dark);
}

.textContainer p {
    text-align: left;
}

.imageContainer {
    grid-row-start: 1;
    grid-row-end: 2;
    background-size: cover;
    height: 100%;
    width: 100%;
    align-self: stretch;
}

section.finalSection {
    margin-bottom: 50px;
}

/* Tablet breakpoint */
@media (min-width: 768px) {

}

/* Desktop breakpoint */
@media (min-width: 992px) {
    .pageContainer {
        width: 100%;
        grid-template: 1fr / 2fr 1fr;
    }

    .textContainer {
        grid-row-start: 1;
        grid-row-end: 2;
        width: 95%;
    }

    .imageContainer {
        grid-column-start: 2;
        grid-column-end: 3;
        width: 100%;
    }
}