.card {
    display: flex;
    background-color: var(--background-white);
    width: 90%;
    margin: 10px 5px;
    padding: 20px;
    border: 1px solid var(--background-light);
    box-shadow: 10px 10px 15px 2px #808080;
}

.imageContainer {
    color: var(--text-dark);
}

.textContainer {
    padding-left: 35px;
    color: var(--text-dark);
    text-decoration: none;
}